.home-container {
	background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 2rem auto;
}

.home-header h2 {
    color: #333;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.home-header p {
    color: #666;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.user-info {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #333;
    font-weight: 500;
}

.user-info strong {
	/* color: #fc4e03; */
    font-size: 1.1rem;
}

.membership-status {
    margin: 1rem 1rem;
    padding: 0.8rem 3rem;
    background: #ececec;
    border-radius: 8px;
    font-size: 1rem;
    color: #495057;
}

.status-active {
    color: #28a745;
    font-weight: bold;
}

.status-expired {
    color: #dc3545;
    font-style: italic;
}

.expiry {
    color: #6c757d;
    font-size: 1rem;
}

.home-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home-menu a {
    display: block;
    padding: 1rem 1.5rem;
    color: #007bff;
    background-color: transparent;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #007bff;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-menu a:hover {
    color: white;
    background-color: #007bff;
    transform: translateY(-4px);
}

#btn-logout {
	color: #fc4e03;
	border: 2px solid #fc4e03;
}

#btn-logout:hover {
    color: white;
    background-color: #fc4e03;
    transform: translateY(-4px);
}

@media (max-width: 480px) {
    .home-container {
        max-width: 100%;
        padding: 2rem 1rem;
        margin: 1rem;
        border-radius: 10px;
    }

    .home-header h2 {
        font-size: 1.5rem;
    }

    .home-menu a {
        padding: 0.8rem 1rem;
        font-size: 1rem;
    }
}