@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f4f4f4;
}
